/* styles.css */

/* Overall layout styles */

.body {
    font-family: Arial, sans-serif; /* Set a default font */
    margin: 0;
    padding: 0;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.content {
    display: flex;
    margin-top: 20px;
}

.side-column {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
}

.main-column {
    flex: 2;
    padding: 20px;
    background-color: #ffffff;
}

/* Image column styles */
.image-column img {
    display: block;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}

/* Other styles */
.logo img {
    max-width: 100px;
    height: auto;
}

.connect-button a {
    background-color: #ff9900;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.connect-button a:hover {
    background-color: #e68000;
}
